.customSelect {
  position: relative;
  font-family: Arial;
  width: 170px;
  border: none;
  font-size: 14px;
  text-align: right;

  .selectButton {
    background-color: white;
    width: 100%;
    border: none;
    padding-left: 55px;
    right: 5px;
  }

  .optionButton {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
}
