.customSelect {
  position: relative;
  font-family: Arial;
  width: 99px;
  border: none;
  font-size: 14px;
  
  
  .selectButton {
    background-color: white;
    width: 99px;
    border: none;
    padding: 5px;
  }

  .optionButton {
    position: absolute;
    background-color: white;
    top: 100%;
    width: 100px;
    left: 0;
    right: 0;
    z-index: 99;
    
  }

  
}




