.wrapper {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  .button {
    border-radius: 40px;
    background-color: white;
    padding: 9px 18px;
    color: #373737;
    border: none;
    margin-right: 27px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #f7f7f7;
    }
  }
}

.active .button {
  background-color: #f7f7f7;
  border: none;
}
