.navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
  
  .leftHeader {
    margin-left: 35px;
    display: flex;
    align-items: center;

    .selected  {
      color: #eb0a1e;
      border-bottom: 2px solid #d0021b;
    }
    
    .models {
      padding: 27px 31px 25px 33px;
      color: #191919;
      margin-left: 77px;
      
    }

    .info {
      padding: 27px 31px 25px 33px;
      color: #191919;
    }
  
  
    .selected {
      color: #eb0a1e;
      border-bottom: 2px solid #d0021b;
    }
  }

  .rightHeader {
    margin-right: 25px;

    .menu {
      margin-right: 12px;
      font-weight: 400;
    }

    .menuImg {
      width: 25px;
      height: 18px;
    }
  }

 @media (max-width: 812px) {
   height: 70px;

   .logo {
     height: 38px;
     width: 39px;
   }
   
   .models {
     display: none;
   }

   .info {
     display: none;
   }

   .menu {
     display: none;
   }
 }
  
}



.backdrop {
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.70);
  transition: all .4s ease-in-out;

  @media (max-width: 812px) {
    display: none;
  }
}

