.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 150px;

  @media (max-width: 812px) {
    flex-direction: column;
    margin-top: 110px;
  }

  .imgWrapper {
    margin-right: 118px;

    .image {
      width: 559px;
      height: 320px;
    }

    @media (max-width: 812px) {
      text-align: center;
      margin: 0px;
      width: 100%;

      .image {
        width: 345px;
        height: 199px;
      }
    }
  }

  .descWrapper {
    max-width: 475px;

    @media (max-width: 812px) {
      margin: 42px 15px 0px 15px;
    }

    .name {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .title {
      font-family: Montserrat;
      font-size: 35px;
      font-weight: 600;
    }

    .desc {
      font-family: Montserrat;
      font-size: 16px;
      font-weight: normal;
      margin-top: 37px;
      line-height: 1.69;
      letter-spacing: -0.1px;
      color: #373737;

      @media (max-width: 812px) {
        width: 100%;
        margin-top: 19px;
      }
    }
  }
}
