.hero {
  padding: 155px 150px 0px 150px;
  position: relative;
  font-family: 'Montserrat', sans-serif;

  .discover {
    font-weight: 700;
    font-size: 40px;
  }

  @media (max-width: 812px) {
    padding: 0px;

    .discover {
      margin: 113px 15px 0px 15px;
      font-size: 35px;
    }
  }
}
