.filterList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 62px;
  margin-bottom: 9px;

  @media (max-width: 812px) {
    display: none;
  }

  .filterListLeft {
    display: flex;
    flex-direction: row;

    .filterBy {
      font-weight: 600;
      padding: 8px 0px 9px 0px;
      border-radius: 18px;
      margin-right: 45px;
    }
  }

  .filterListRight {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.responsiveWrapper {
  display: none;

  @media (max-width: 812px) {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 14px;
    margin-left: 12px;
    margin-right: 17px;
  }
}
