.navbar {
  display: none;

  @media (max-width: 812px) {
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    

    .menuImg {
      display: block;
    }
  }
}

.sideNavbar {
  min-width: 390px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: fixed;
  z-index: 2;

  .sideHeader {
    margin-right: 27px;
    margin-top: 18px;
    display: flex;
    align-items: center;

    .sideCerrar {
      margin-right: 11px;
      
    }
  }

  .sideList {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 39px;

    .listText {
      width: 100%;
      text-align: right;
      margin-right: 53px;
      margin-bottom: 13px;
    }

    .last {
      width: 100%;
      text-align: right;
      margin-right: 53px;
      margin-bottom: 0px;
      
    }

    .listLineWrapper {
      min-width: 390px;
      margin: 31px 0px;
      
      
      .listLine {
        border-top: 1px solid #e9e9e9;
        min-width: 338px;
        margin-right: 20px;
        margin-left: 32px;
      }
    }

    .bottom {
      min-width: 390px;
      margin: 31px 0px;
      margin-bottom: 0px;
    }

    .coloredList {
      background-color: #efeeef;
      min-width: 390px;
      padding-right: 53px;
      padding-top: 31px;
      padding-bottom: 200px;
    }
    
  }

  @media (max-width: 812px) {
    top: 70px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    position: fixed;
    right: 0px;
    left: 0px;
    bottom: 0px;
    
    
    .sideHeader {
      right: 53px;
    }

    .sideList {
      width: 100%;
      
      .listText {
        margin-right: 53px;
        margin-bottom: 13px;
      }
  
      .last {
        margin-right: 53px;
        margin-bottom: 0px;
        
      }
  
      .listLineWrapper {
        width: 100%;
        left: 18px;
        right: 20px;
        
        
        .listLine {
          border-top: 1px solid #e9e9e9;
          min-width: 338px;
          margin-right: 20px;
          margin-left: 32px;
        }
      }
  
      .bottom {
        min-width: 390px;
        margin: 31px 0px;
        margin-bottom: 0px;
      }
  
      .coloredList {
        background-color: #efeeef;
        width: 100%;
        padding-right: 53px;
        padding-top: 31px;
        padding-bottom: 200px;
      }
    }
  }
}