.hero {
  margin: 0px 150px;

  @media (max-width: 812px) {
    margin-top: 138px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  
    @media (max-width: 812px) {
      flex-direction: column-reverse;
    }
    
    .textWrapper {
      // align-items: center;
      padding: 0px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      text-align: left;

      @media (max-width: 812px) {
        padding: 0px;
        width: 100%;
      }
  
      .title {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 600;

        @media (max-width: 812px) {
          margin-top: 21px
        }
      }
  
      .text {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.69;
        letter-spacing: -0.1px;
        color: #373737;
        margin-top: 13px;

        @media (max-width: 812px) {
          margin-top: 20px
        }
      }
    }
  
    .imageWrapper {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      
      .image {
        width: 100%;
        height: 295px;
        text-align: right;
      }

      @media (max-width: 812px) {
        width: 100%;

        .image {
          height: 199px;
        }
      }
    }
  }
  
  .two {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 117px;
    text-align: center;
  
    @media (max-width: 812px) {
      flex-direction: column-reverse;
    }

    .textWrapper{
      padding: 0px 40px;

      @media (max-width: 812px) {
        padding: 0px;
        width: 100%;
      }
    }
  
    .imageWrapper {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      margin-right: 21px;

      @media (max-width: 812px) {
        width: 100%;
        margin: 0px;

        .image {
          height: 199px;
        }
      }
    }
  }
  
  

}

